#logodiv {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
}
#aramadiv {
    width:90%;
    height:max-content;
    margin-left: auto;
    margin-right: auto;
    background-color:#EEEEEE;
    text-align: center;
    margin-bottom:2px;
}
#aramakutusu {
    width: 300px;
    height: 15px;
}
#altdiv {
    width:90%;
    height:max-content;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
}
#solaltdiv {
    width: 35%;
    height: 80px;
    float: left;
    background-color:rgb(126, 229, 218);
    text-align: center;
}
#ortaaltdiv {
    width: 19.67%;
    height: 80px;
    float: left;
    background-color:rgb(112, 204, 194);
    text-align:center;
    margin-left:2px;
    margin-right:2px;
    font-size: small;
}
#sagaltdiv{
    width: 45%;
    height: 80px;
    float: left;
    background-color:rgb(98, 179, 170);
    text-align: center;
    font-size: small;
}
#emailkutusu { 
    width:175px;
    height:15px;
}
#altyazidiv {
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height: 20px;
    text-align: center;
    padding-top: 90px;
    font-size: small;
}
p {
    margin-top:5px;
    margin-bottom:5px;
    font-size:-1;
}